@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #00040d;
  --white: #f9fbff;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex: 1;
  justify-content: center;
}
/* Header - Start */
.header {
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header.sticky {
  background-color: var(--white);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header.sticky a {
  color: var(--black);
}

.header.sticky a.accent {
  color: var(--white);
}

/* Hero - Start */
.hero::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../images/Cinema-with-popcorn-box-and-3d-glasses.jpg");
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
