@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #00040d;
  --white: #f9fbff;
  --section-bg: #242424;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex: 1;
  justify-content: center;
}
/* Header - Start */
.header.header-sticky {
  background-color: var(--section-bg);
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Hero - Start */
.hero::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../images/Cinema-with-popcorn-box-and-3d-glasses.jpg");
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
/* About - Start */
/* .slick-slider{
  display: block;
  max-width: 100% !important;
} */
.slick-slide > div {
  margin: 0 20px;
}
